<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<%= link_to 'Edit', edit_person_path(@person), class: "btn btn-default" %> |
<%= link_to 'Back', people_path, class: "btn btn-link" %>
