<tr>
  <td><%= name %></td>
  <td><%= state %></td>
  <td><%= country %></td>
  <td>
    <div class="pull-right">
      <a class="btn btn-default btn-xs" href="<%= show_url %>">Show</a>
      <a class="btn btn-default btn-xs" href="<%= edit_url %>">Edit</a>
      <a class="btn btn-default btn-xs" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= destroy_url %>">Destroy</a>
    </div>
  </td>
</tr>
