<tr>
  <td><%= name %></td>
  <td><%= state %></td>
  <td><%= country %></td>
  <td><a href="<%= show_url %>">Show</a></td>
  <td><a href="<%= edit_url %>">Edit</a></td>
  <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= destroy_url %>">Destroy</a></td>
</tr>
